
H1 {
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    background-color: #151515;
    border-style: inherit;
    font-style: bold;
    padding: 17px 0px 0px 0px;
    color: white;
    display: inline-block;
    overflow: hidden;
    width:100%;
    position:fixed;

    font-size: 2.2rem;

}
h3{
    color:#301B3F;
    font-family:verdana;
    text-decoration:none;
    
}

hr {
    background-color: whitesmoke;
    height: 0px;
    border-style: none;
    border-bottom-style: dotted;
    border-color: black;
    size: 140px;
    width: 25%;

}

body {
    background-color: #301B3F;
    margin:0;
    
}

.content {
    max-width: 70%;
    margin: auto;
    padding: 120px;
    background-color: #ece5ee;
}

footer {
    background-color: #112D4E;
    color: white;
    padding: 10px;
    text-decoration-color: none;
}

a {
    color: black;
}
a :hover{
    color:red;
}
img:hover{
 
    
    background-color:rgb(58, 26, 58);
    
}
img{
    padding:5px;
}
id{
    color:#DDDDDD;
}
p{
    font-family: 'Akshar';
    line-height:2;
    font-weight: 600;}
.eren{
    opacity:0.15;
    display:inline-block;
    position: absolute;
    top:33%;
    left:40%;
    }

.luffy{
    opacity:0.15;
    display:inline-block;
    position: absolute;
    top:353%;
     left:40%
    }
 .ryuk{
        opacity:0.15;
        display:inline-block;
        position: absolute;
        top:116%;
        left:40%;
        }
        .edward{
            opacity:0.15;
            display:inline-block;
            position: absolute;
            top:210%;
            left:40%;
            } 
            .izuku{
            
                    opacity:0.15;
                    display:inline-block;
                    position: absolute;
                    top:290%;
                    left:40%;
                    
            }   

footer{
        text-align:center;
       padding: 30px; 
       background-color: black;
    }
               
